/web/assets/*
!/web/assets/.htaccess

# Yii runtime dir
/runtime/*
!/runtime/cache
/runtime/cache/*
# Svn files
.svn
# Windows folder metadata
desktop.ini
Thumbs.db
# OpenOffice.org lock files
.~lock.*
# NetBeans Project private files
/nbproject
/nbproject/private/*
# PhpStorm project files
/.idea
# Composer vendor files
/vendor/
